
#form-container{
	display: flex;
	width: 100%;
	background-color: rgb(75,162,217); 
	font-family: sans-serif;
}

#form-container div > input:focus, textarea:focus{
	border: 2px solid black;
	outline-color: none;

}

input, textarea{
	border: 3px solid white;
	background-color: rgb(75,162,217);

}


input, select, textarea{
	margin-bottom: 10%;
	width: 90%;
	
}

/*-webkit-input-placeholder{color: rgb(19,103,152)}*/

label{
	display: block;
	color: white;
}



.textinput{
	outline: none;
}

@media screen and (min-width: 600px){
	.col-left{
	display: inline-block;
	flex: 1;
	margin-left: 2%;
	margin-top: 2%;
	}

	.col-mid{
	display: inline-block;
	flex: 1;
	margin-top: 2%;
	}

	.col-right{
	display: inline-block;
	flex: 1;
	margin-top: 2%;
	}
}

@media screen and (max-width: 599px){
	#form-container{
	display: block;
	}
}



